<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Rail's Images</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<body>
		<div class="container mt-3">
			<form enctype="multipart/form-data" method="post" action="/upload">
				<div class="form-group">
					<label for="file">Choose Image</label>
					<input type="file" class="form-control" name="file", id="file" />
				</div>
				<div class="form-group">
					<label for="token">Password</label>
					<input type="password" class="form-control" name="token" id="token" />
				</div>
				<input type="submit" value="Upload!" class="btn btn-primary" />
			</form>
			<hr />
			<div class="card-columns">
				<% files.forEach(file => { %>
					<div class="card">
						<% if (file.url.endsWith('mp4')) { %> 
						    <video controls class="card-img-top">
						        <source src="<%= file.url %>" type="video/mp4" />
						    </video>
						<% } else { %>
						    <img class="card-img-top" src="<%= file.url %>" alt="Card image cap">
						<% } %>
						<div class="card-body">
							<h5 class="card-title"><%= file.id %></h5>
							<p class="card-text"><a href="<%= file.url %>" target="_blank"><%= file.url %></a></p>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>